@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* style navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

.button {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;

}

.name {
    font-size: 28px;
    font-weight: bolder;
}

/* style banner section */
.banner {
    background-image: url("../assets/Hero-bg.png");
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Group {
    height: 210px;
    background-position: center;
    margin-top: 26px;

}

.Heading {
    font-size: 48px;
    font-weight: 600;
    color: #0D1321;
    margin-top: 30px;
    text-align: center;
}

.description {
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
    text-align: center;
    color: #0D1321;
}

.Contact-button {
    font-size: 18px;
    background-color: #0D1321;
    color: #FFFFFF;
    margin-top: 32px;
    padding: 21px 24px;
    border-radius: 8px;
}

/* This is Container section style */
.container {
    max-width: 1200px;
    height: 1255px;
    border-radius: 16px;
    margin: 70px auto;
}

.container-box {
    padding: 80px 97px;
}

.content {
    margin: 0px 48px 47px;
}

.first-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 100px;
}

.heading {
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
}

.shared-button {
    border: 1px solid black;
    opacity: 0.7;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px;
    margin-top: 20px;
}

.text {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.first-block h3,
.second-block h3,
.third-block h3 {
    color: #0D1321;
    font-size: 22px;
    font-weight: 800px;
    text-align: left;
    line-height: 35px;

}

.first-block p,
.second-block p,
.third-block p {
    color: #0D1321;
    opacity: 0.7;
    font-size: 14px;
    font-weight: normal;
    margin-top: 16px;
    margin-bottom: 32px;
}

.second-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 48px;
}

.third-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 130px;
}


/* This is last section */
.last-section {
    max-width: 1026px;
    height: 310px;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.last-section h2 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.last-section p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

/* footer style */
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 520px;
}

.footer-content p {
    font-size: 17px;
    font-weight: 600;
    color: #0D1321;
}

.icon {
    width: 36px;
    height: 36px;
}

/* inspired section style */
.inspired {
    width: 1000px;
    height: 700px;
    margin: 81px auto;
    border: 1px solid black;

}

.heading-1 {
    color: #0D1321;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
}

.paragraph {
    color: #0D1321;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;

}

.video {
    margin-top: 40px;
    border-top: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    text-align: center;

}

.frame {
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 16px;
}